<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='final-dashboard.css') }}">
    
    <title>Dashboard Final</title>
</head>
<body>
    <form action="/" method="post" class="username-form">
        <label for="username">Hello, {{ username }}!</label>

    </form>

    <div class="container">
        <div class="actions">
            <h2>Actions</h2>

            <button onclick="redirectToPage('create-cluster')">Create Cluster</button>

            <button onclick="redirectToPage('my-cluster')">My Cluster</button>
            <button onclick="redirectToPage('dashboard-cloud')">Credential Details</button>
            <button onclick="redirectToPage('cluster-creation-status')">Cluster Creation Status</button>
            <button onclick="redirectToPage('dashboard-cloud')">Cost Optimization</button>

        </div>

        <script>
            function redirectToPage(page) {
                window.location.href = page;
            }
            </script>

        
        <div id="contentContainer" class="content-container">
            <div id="myClusterContent" class="content">
               
            <div id="credentialDetailsContent" class="content">
                <h3>Credential Details</h3>
                
                  <button>Modify Cluster</button>
                  <button>Delete Cluster</button>                
            </div>

            <div id="clusterCreationStatusContent" class="content">
                <h2>Cluster Creation Status</h2>
                <h5>the cluster is created</h5>
                <h5>the cluster is not created</h5>

            </div>
        </div>
    </div>
    <script>
        function showContent(contentId) {
            var allContents = document.querySelectorAll('.content');
            allContents.forEach(function(content) {
                content.style.display = 'none';
            });

            var selectedContent = document.getElementById(contentId + 'Content');
            if (selectedContent) {
                selectedContent.style.display = 'block';
            }
        }
    </script>
</body>
</html> 

